mixin vocabular()
  .vocabular Vocabular
  block

mixin definitie(cuvant, index)
  div(data-cuvant=cuvant, data-index=index || 0).definitie-pair
    video.video(controls='true').hidden
      source(type="video/mp4")
      source(type="video/webm")
      source(type="video/ogg")
    span.cuvant
    span.voc-separator &nbsp;–&nbsp;
    span.definitie

mixin vocword(displayed_word, word, index)
  - var dict_word = typeof(word) === "string" ? word : displayed_word;
  - var index = typeof(word) === "number" ? word : (index || 0);
  span(data-cuvant=dict_word, data-index=index).vocword
    | #{displayed_word}

mixin footnote(number)
  small [footnote #{number}:
  small
    block
  small ]
  
mixin hchart(options)
  .hchart
    each bar in options.bars
      .row
        .col-sm-3= bar.name
        .col-sm-9
          if (bar.stacked) 
            
            .hchart-row
              .progress
                - for (var i = 0; i < bar.data.length; i+=2) {
                  .progress-bar(role="progressbar", data-transitiongoal="#{bar.data[i]}", style="background: #{bar.data[i+1]}")= bar.data[i]
                - }
          else
            
            .hchart-row
              - for (var i = 0; i < bar.data.length; i+=2) {
                .progress(style="margin-bottom: 0.1em")
                  .progress-bar(role="progressbar", data-transitiongoal="#{bar.data[i]}", style="background: #{bar.data[i+1]}")= bar.data[i]
              - }
    .row: .col-sm-9.col-sm-offset-3
      if (options.step)
        .hchart-step(style="position:relative; height: 3em")
          - var steps = options.step
          - var maxStep = options.maxSteps || 100
          - for (var i = 0; i <= maxStep; i+=steps) {
            .step(style="position: absolute; left: #{((i * 100) / maxStep)}%; text-align: center"): .small
              div(style="text-align: center") |
              div #{i}
          - }
      if (options.legend)
        .hchart-legend: .text-center
          each item in options.legend
            .legend(style="width: 10px; height: 10px; background: #{item.color}; display: inline-block")
            span(style="margin-left: 0.2em; margin-right: 1em")= item.name

mixin vchart(options)
  - var height = options.height || '200px';
  - var width = options.width || '40px'
  .vchart(style="position: relative")
    .row
      each bar, index in options.bars
        .col-sm-4
          if (index % 3 == 0)
            .hidden-xs(style="height: #{height}; width: 2em; position: absolute; top: 0; display: inline-block")
              - var steps = options.step || 20
              - for (var i = 100/steps; i >= 0; i--) {
                .step(style="width: 100%; position: absolute; bottom: #{i *(steps- 2)}%; border-bottom: 1px solid black;") #{i * steps}
              - }
          .vchart-section(style="height: #{height}; display: inline-block;margin-left: 2em;margin-bottom: 2em;")
            .vchart-step(style="height: 100%; width: 2em; position: relative; margin-left: 1em")
              - var steps = options.step
              - for (var i = 100/steps; i >= 0; i--) {
                .step(style="width: 100%; position: absolute; bottom: #{i *(steps-2)}%; border-bottom: 1px solid black;") #{i * steps} 
              - }
            .vchart-chart(style="height: 100%; margin: 0 0.5em; display: inline-block; padding-top: 1em")
              - for (var i = 0; i < bar.data.length; i+=2) {
                .progress.vertical.bottom(style="margin: 0 0.1em; width: #{width}")
                  .progress-bar(role="progressbar", data-transitiongoal="#{bar.data[i]}", style="background: #{bar.data[i+1]}")= bar.data[i]
                - }
          .text-center.small= bar.name
          hr.visible-xs
